.footer{
  display: flex;
  justify-content: space-between;
  &__blocks{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: nowrap;
    padding: 5%;
  }
  &__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    h1{
      font-size: 2.5vmin;
      font-weight: 600;
      color: $dark;
    }
    p{
      font-size: 2vmin;
      font-weight: 300;
      color: $blue;
    }
  }
}
