.section{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  @media(max-width: 768px){
    flex-direction: column;
  }
  &:nth-of-type(1){
    padding: 15% 10% 5% 10%;
    background: $grey;
    color: $dark;
    @media(max-width: 768px){
    margin-top: 60px;
    }
  }
  &:nth-of-type(2){
    padding: 10% 10% 3% 10%;
    background: $blue;
    color: $white;
  }
  &:nth-of-type(3){
    padding: 5% 0 2% 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $dark;
    span{
      font-size: 4vmin;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
  &__inner{
    display: flex;
    align-items: flex-end;
    width: 40%;
    @media(max-width: 768px){
    width: 100%;
    }
  }
  &__description{
    h1{
      font-size: 6vmin;
      margin-bottom: 15%;
    }
    h2{
      font-size: 4vmin;
      margin-bottom: 15%;
    }
    h3{
      font-size: 5vmin;
      margin-bottom: 10%;
    }
    p{
      font-size: 3vmin;
      font-weight: 400;
      line-height: 1.7em;
      margin-bottom: 10%;
      @media(max-width: 768px){
        font-size: 5vmin;
      }
    }

  }
 &__prefooter{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 80vh;
   width: 50%;
   padding: 5%;
   box-sizing: border-box;
    color: $dark;
    @media(max-width: 768px){
      width: 100%;
    }
   span{
     &:nth-of-type(1){
        font-size: 2vmin;
        @media(max-width: 768px){
        font-size: 4vmin;
        }
     }
   }
   p{
     font-size: 5vmin;
     font-weight: 700;
     @media(max-width: 768px){
     font-size: 7vmin;
     }
   }
 }
 &__background1{
     position: absolute;
     right: -5%;
     top: -15%;
     width: 55%;
     @media(max-width: 768px){
      display: none;
     }
 }
 &__background2{
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   width: auto;
   @media(max-width: 768px){
    display: none;
   }
 }
 &__background3{
   height: auto;
   width: 30%;
   @media(max-width: 768px){
    display: none;
   }
 }
 &__button {
   position: relative;
   display: inline-block;
   cursor: pointer;
   outline: none;
   border: 0;
   vertical-align: middle;
   text-decoration: none;
   background: transparent;
   padding: 0;
   font-size: inherit;
   font-family: inherit;
     width: 12rem;
     height: auto;
     .circle {
       @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
       position: relative;
       display: block;
       margin: 0;
       width: 3rem;
       height: 3rem;
       background: $orange;
       border-radius: 1.625rem;
       .icon {
         @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
         position: absolute;
         top: 0;
         bottom: 0;
         margin: auto;
         background: $white;
         &.arrow {
           @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
           left: 0.625rem;
           width: 1.125rem;
           height: 0.125rem;
           background: none;
           &::before {
             position: absolute;
             content: '';
             top: -0.25rem;
             right: 0.0625rem;
             width: 0.625rem;
             height: 0.625rem;
             border-top: 0.125rem solid #fff;
             border-right: 0.125rem solid #fff;
             transform: rotate(45deg);
           }
         }
       }
     }
     .button-text {
       @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       padding: 0.75rem 0;
       margin: 0 0 0 1.85rem;
       color: $orange;
       font-weight: 700;
       line-height: 1.6;
       text-align: center;
       text-transform: uppercase;
     }
   &:hover {
     .circle {
       width: 100%;
       .icon {
         &.arrow {
         background: $white;
         transform: translate(1rem, 0);
         }
       }
     }
     .button-text {
       color: $white;
     }
   }
 }
}
.blocks{
  display: flex;
  flex-wrap: wrap;
  @media(max-width: 768px){
  flex-direction: column;
  }
  &__item{
    padding: 4% 4% 14% 4%;
    box-sizing: border-box;

    h4{
      font-size: 4vmin;
      @media(max-width: 768px){
      font-size: 5vmin;
      }
    }
    p{
      font-size: 3vmin;
      @media(max-width: 768px){
        font-size: 5vmin;
      }
    }
    &:nth-of-type(1){
      background: #FFE2DE;
    }
    &:nth-of-type(2){
      background: #C4E769;
    }
    &:nth-of-type(3){
      background: #62D0DF;
    }
    &:nth-of-type(4){
      background: #0052C1;
    }
    hr{
      background: $white;
      border: 1px solid $white;
    }
    ul{
      margin: 0;
      li{
        font-size: 4vmin;
        color: $white;
        @media(max-width: 768px){
        font-size: 6vmin;
        margin-left: 40px;
        }
        &::marker{
          color: $orange;
        }
      }
    }
  }
}
